name: Automated Preprocessing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  preprocess-data:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Set up Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # 3. Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy scikit-learn joblib matplotlib

      # 4. Run preprocessing script
      - name: Run preprocessing script
        run: |
          python preprocessing/automate_oryzasativa.py

      # 5. Move processed data ke folder preprocessing
      - name: Move processed data
        run: |
          mv train_preprocessing.csv preprocessing/
          mv test_preprocessing.csv preprocessing/

      # 6. Upload processed data sebagai artifact
      - name: Upload preprocessed dataset
        uses: actions/upload-artifact@v4
        with:
          name: preprocessed-dataset
          path: |
            preprocessing/train_preprocessing.csv
            preprocessing/test_preprocessing.csv
